# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/